<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.govliq.scenarios.AdvSearch</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>advSearchLotsPerPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchSortBy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advancedSearchKeyword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advancedSearchFSCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchNIINCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchNSNCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchWarehouse</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchCondition</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advancedSearchEvents</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advancedSearchLookFor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchPostedDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchLotNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getTit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchEndingToday</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advSearchManufacturer</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createTestSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeTestSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
