<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Gov Liquidation Regression Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab9eaf">  <td>14/02/27 10:52:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdvSearch.createTestSetup()[pri:0, instance:com.govliq.scenarios.AdvSearch@78a8ac79]">&gt;&gt;createTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="ab9eaf">  <td>14/02/27 10:52:21</td>   <td>21815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdvSearch.advSearchNSNCode()[pri:0, instance:com.govliq.scenarios.AdvSearch@78a8ac79]">advSearchNSNCode</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="ab9eaf">  <td>14/02/27 10:52:45</td>   <td>45560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AdvSearch.closeTestSetup()[pri:0, instance:com.govliq.scenarios.AdvSearch@78a8ac79]">&lt;&lt;closeTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
</table>
