<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a48f69">  <td>14/03/03 12:51:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortsmoketest.BiddingIntenetAuctions()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@592021b7]">BiddingIntenetAuctions</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a48f69">  <td>14/03/03 12:51:00</td>   <td>-34288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;shortsmoketest.closeTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@592021b7]">&lt;&lt;closeTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a48f69">  <td>14/03/03 12:51:34</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;shortsmoketest.closeTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@592021b7]">&lt;&lt;closeTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a48f69">  <td>14/03/03 12:50:18</td>   <td>-75690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;shortsmoketest.createTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@592021b7]">&gt;&gt;createTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a48f69">  <td>14/03/03 12:51:02</td>   <td>-32218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;shortsmoketest.createTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@592021b7]">&gt;&gt;createTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a48f69">  <td>14/03/03 12:51:34</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortsmoketest.modifySavedSearchLogin()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@592021b7]">modifySavedSearchLogin</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a48f69">  <td>14/03/03 12:50:30</td>   <td>-64245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortsmoketest.newuserregister()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@592021b7]">newuserregister</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a48f69">  <td>14/03/03 12:51:12</td>   <td>-22011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortsmoketest.savesSearchLogin()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@592021b7]">savesSearchLogin</td> 
  <td>main@1636165903</td>   <td></td> </tr>
</table>
