<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.govliq.smoketestcases.shortsmoketest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BiddingIntenetAuctions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>modifySavedSearchLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>closeReport</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>savesSearchLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>newuserregister</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createTestSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeTestSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
