<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Gov Liquidation Smoke Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:28:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;shortsmoketest.createTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&gt;&gt;createTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:28:28</td>   <td>15187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortsmoketest.newuserregister()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">newuserregister</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:31:37</td>   <td>204737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;shortsmoketest.closeTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&lt;&lt;closeTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:31:40</td>   <td>207637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;shortsmoketest.createTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&gt;&gt;createTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:31:54</td>   <td>221152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortsmoketest.savesSearchLogin()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">savesSearchLogin</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:32:54</td>   <td>281653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;shortsmoketest.closeTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&lt;&lt;closeTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:33:07</td>   <td>294516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;shortsmoketest.createTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&gt;&gt;createTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:33:23</td>   <td>310458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortsmoketest.modifySavedSearchLogin()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">modifySavedSearchLogin</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:36:13</td>   <td>480505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;shortsmoketest.closeTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&lt;&lt;closeTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:36:22</td>   <td>489688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;shortsmoketest.createTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&gt;&gt;createTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:36:34</td>   <td>501677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortsmoketest.BiddingIntenetAuctions()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">BiddingIntenetAuctions</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:41:00</td>   <td>767270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;shortsmoketest.closeTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&lt;&lt;closeTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:41:20</td>   <td>787578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;shortsmoketest.createTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&gt;&gt;createTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:41:31</td>   <td>798338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="shortsmoketest.closeReport()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">closeReport</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a36a6b">  <td>14/03/08 17:41:31</td>   <td>798338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;shortsmoketest.closeTestSetup()[pri:0, instance:com.govliq.smoketestcases.shortsmoketest@1294a25c]">&lt;&lt;closeTestSetup</td> 
<td>&nbsp;</td>  <td>main@1636165903</td>   <td></td> </tr>
</table>
